.d .racing-plus-footer::before,
.d .racing-plus-header::after {
  position: absolute;
  display: block;
  content: '';
  height: 0;
  width: 100%;
  left: 0;
}
.d .racing-plus-window {
  margin: 10px 0;
  padding: 0;
  display: none;
  .show {
    display: block;
  }
}
.d .racing-plus-header {
  position: relative;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  text-shadow: 0 0 2px #00000080;
  text-shadow: var(--tutorial-title-shadow);
  color: #fff;
  color: var(--tutorial-title-color);
  border: 0 !important;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(180deg, #888 0, #444 100%);
}
.d.dark-mode .racing-plus-header {
  background: linear-gradient(180deg, #555 0, #333 100%);
}
.d .racing-plus-header::after {
  bottom: -1px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #ebebeb;
}
.d.dark-mode .racing-plus-header::after {
  border-bottom: 1px solid #222;
  border-top: 1px solid #444;
}
.d .racing-plus-footer {
  position: relative;
  margin: 0;
  padding: 0;
  height: 10px;
  border: 0 !important;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(0deg, #888 0, #444 100%);
}
.d.dark-mode .racing-plus-footer {
  background: linear-gradient(0deg, #555 0, #333 100%);
}
.d .racing-plus-footer::before {
  top: -1px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #ebebeb;
}
.d.dark-mode .racing-plus-footer::before {
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
}
.d .racing-plus-main {
  margin: 0;
  padding: 5px 10px;
  background-color: #f2f2f2;
}
.d.dark-mode .racing-plus-main {
  background-color: #2e2e2e;
}
.d .racing-plus-settings {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: repeat(6, min-content);
  gap: 0;
}
.d .racing-plus-settings label {
  padding: 6px 5px;
  font-size: 0.7rem;
  white-space: nowrap;
}
.d .racing-plus-settings div {
  padding: 0 5px;
  font-size: 0.7rem;
  text-align: right;
  position: relative;
}
.d .racing-plus-settings div.flex-col {
  padding: 0;
  margin-top: 2px;
}
.d .racing-plus-settings div,
.d .racing-plus-settings label {
  border-bottom: 2px groove #ebebeb;
}
.d.dark-mode .racing-plus-settings div,
.d.dark-mode .racing-plus-settings label {
  border-bottom: 2px groove #444;
}
.d .racing-plus-settings div:last-of-type,
.d .racing-plus-settings label:last-of-type {
  border-bottom: 0;
}
.d .racing-plus-settings div input[type=checkbox] {
  height: 12px;
  margin: 5px 0;
  accent-color: #c00;
}
#rplus-apikey {
  text-align: right;
  width: 120px;
  height: 12px;
  margin: 0;
  padding: 1px 2px;
  border-radius: 3px;
  border: 1px solid #767676;
  .valid {
    border-color: #090 !important;
  }
  .invalid {
    border-color: #c00 !important;
  }
}
.d .flex-col {
  display: flex;
  flex-direction: column;
}
.d .nowrap {
  white-space: nowrap !important;
}
.d .racing-plus-apikey-actions {
  margin-right: 10px;
}
.d .racing-plus-apikey-status {
  color: red;
  padding: 2px 5px;
  font-size: 0.6rem;
  display: none;
}
.d .racing-plus-apikey-reset,
.d .racing-plus-apikey-save {
  cursor: pointer;
  margin: 0 0 2px 0;
  padding: 0;
  height: 16px;
  width: 16px;
  display: none;
}
.d .racing-plus-apikey-status.show,
.d .racing-plus-apikey-reset.show,
.d .racing-plus-apikey-save.show {
  display: inline-block !important;
}
.d .racing-plus-apikey-reset svg path,
.d .racing-plus-apikey-save svg path {
  fill: #666;
  fill: var(--top-links-icon-svg-fill);
  filter: drop-shadow(0 1px 0 #ffffffa6);
  filter: var(--top-links-icon-svg-shadow);
}
.d .racing-plus-apikey-reset:hover svg path,
.d .racing-plus-apikey-save:hover svg path {
  fill: #444;
  fill: var(--top-links-icon-svg-hover-fill);
  filter: drop-shadow(0 1px 0 #ffffffa6);
  filter: var(--top-links-icon-svg-hover-shadow);
}
.d .racing-plus-parts-available {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-style: italic;
  padding: 10px;
  font-size: 0.7rem;
  background: url('/images/v2/racing/header/stripy_bg.png') #2e2e2e;
}
.d .left-banner,
.d .right-banner {
  height: 57px;
  top: 44px;
  position: absolute;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  background: url('/images/v2/racing/header/stripy_bg.png');
}
.d .racing-plus-parts-available::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  height: 0;
  width: 100%;
  border-bottom: 1px solid #222;
  border-top: 1px solid #444;
}
.d .racing-plus-link-wrap .export-link,
.d .racing-plus-link-wrap .race-link {
  width: 20px;
  float: right;
  filter: drop-shadow(0 0 1px #11111194);
  height: 20px;
}
.d .pm-categories .link .icons .parts {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #00bfff;
}
.d .pm-categories .link .icons .parts.bought {
  color: #0c0;
}
.d .racing-main-wrap .pm-items-wrap .part-wrap .l-delimiter,
.d .racing-main-wrap .pm-items-wrap .part-wrap .r-delimiter,
.d .racing-main-wrap .pm-items-wrap .pm-items > li .b-delimiter {
  height: 0 !important;
  width: 0 !important;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .active .properties-wrap > li .name,
.d .racing-main-wrap .pm-items-wrap .pm-items .active .properties-wrap > li .progress-bar,
.d .racing-main-wrap .pm-items-wrap .pm-items .bought .properties-wrap > li .name,
.d .racing-main-wrap .pm-items-wrap .pm-items .bought .properties-wrap > li .progress-bar {
  background: unset !important;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .active {
  background: rgba(0, 191, 255, 0.07);
}
.d .racing-main-wrap .pm-items-wrap .pm-items .active .title {
  background: rgba(0, 191, 255, 0.07);
}
.d .racing-main-wrap .pm-items-wrap .pm-items .active .info {
  color: #00bfff;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .name .positive {
  color: #9c0;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .active .name .positive {
  color: #00a9f9;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .name .negative {
  color: #e54c19;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .active .name .negative {
  color: #ca9800;
}
.d .racing-main-wrap .pm-items-wrap .pm-items .bought,
.d .racing-main-wrap .pm-items-wrap .pm-items .bought .title {
  background: rgba(133, 178, 0, 0.07);
}
.d .racing-main-wrap .pm-items-wrap .pm-items .bought .desc {
  color: #85b200;
}
.d .racing-plus-link-wrap {
  cursor: pointer;
  float: right;
}
.d .racing-plus-link-wrap .race-link {
  margin: 4px 5px 6px;
}
.d .racing-plus-link-wrap .export-link:hover,
.d .racing-plus-link-wrap .race-link:hover {
  filter: drop-shadow(1px 1px 1px #11111194);
}
.d .racing-plus-link-wrap .export-link {
  margin: 5px;
}
.d .racing-main-wrap .car-selected-wrap #drivers-scrollbar {
  overflow: hidden !important;
  max-height: none !important;
}
.d .racing-main-wrap .car-selected-wrap .driver-item > li.status-wrap .status {
  margin: 5px !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item {
  font-size: 0.7rem !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.car {
  padding: 0 5px;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name {
  width: unset !important;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-right: 0;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name a {
  flex-basis: fit-content;
  width: unset !important;
  height: 20px;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name a:hover {
  text-decoration: underline;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span {
  display: block;
  flex-basis: fit-content;
  width: unset !important;
  height: 20px;
  line-height: 1.3rem;
  font-size: 0.7rem;
  padding: 0 7px;
  margin: 0;
  border-radius: 3px;
  white-space: nowrap;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-1 {
  background: #74e80080 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-2 {
  background: #ff262680 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-3 {
  background: #ffc92680 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-4 {
  background: #00d9d980 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-5 {
  background: #0080ff80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-6 {
  background: #9933ff80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-7 {
  background: #ff26ff80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-8 {
  background: #55555580 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-9 {
  background: #f28d8d80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-10 {
  background: #e1c91980 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-11 {
  background: #a0cf1780 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-12 {
  background: #18d9d980 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-13 {
  background: #6fafee80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-14 {
  background: #b072ef80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-15 {
  background: #f080f080 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-16 {
  background: #61616180 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-17 {
  background: #b2000080 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-18 {
  background: #cc990080 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-19 {
  background: #4e9b0080 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-20 {
  background: #009d9d80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-21 {
  background: #0000b780 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name span.color-22 {
  background: #8c008c80 !important;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name div.statistics {
  display: flex;
  flex-grow: 1;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.time {
  display: none;
}
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name div.statistics div,
.d .racing-main-wrap .car-selected-wrap .drivers-list .driver-item > li.name li.time {
  flex-basis: fit-content;
  line-height: 22px;
  height: 22px;
  width: unset !important;
  padding: 0 5px;
  margin: 0;
  border-radius: 3px;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.25);
}
.d .left-banner {
  width: 150px;
  left: 0;
  border-right: 1px solid #424242;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 0 10px -2px rgba(0, 0, 0, 0.5), 0 5px 10px -2px rgba(0, 0, 0, 0.5);
}
.d .racing-main-wrap .header-wrap .banner .skill-desc {
  width: 130px !important;
  top: 15px !important;
  left: 8px !important;
  font-size: 1rem !important;
}
.d .racing-main-wrap .header-wrap .banner .skill {
  top: 33px !important;
  left: 10px !important;
  font-size: 0.8rem !important;
}
.d .racing-main-wrap .header-wrap .banner .lastgain {
  top: 33px;
  left: 75px;
  color: #0f0;
  position: absolute;
  font-size: 0.6rem !important;
}
.d .right-banner {
  width: 115px;
  right: 0;
  border-left: 1px solid #424242;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -5px 0 10px -2px rgba(0, 0, 0, 0.5), 0 5px 10px -2px rgba(0, 0, 0, 0.5);
}
.d .racing-main-wrap .header-wrap .banner .class-desc {
  right: 40px !important;
  top: 23px !important;
  font-size: 1rem !important;
}
.d .racing-main-wrap .header-wrap .banner .class-letter {
  right: 12px !important;
  top: 22px !important;
  font-size: 1.5rem !important;
}
@media screen and (max-width: 784px) {
  .d .racing-main-wrap .header-wrap .banner .class-desc,
  .d .racing-main-wrap .header-wrap .banner .skill-desc {
    font-size: 0.8rem !important;
    top: 10px !important;
  }
  .d .racing-main-wrap .header-wrap .banner .skill {
    top: 10px !important;
    left: 125px !important;
  }
  .d .racing-main-wrap .header-wrap .banner .lastgain {
    top: 10px !important;
    left: 190px;
  }
  .d .racing-main-wrap .header-wrap .banner .class-letter {
    top: 10px !important;
    font-size: 1.25rem !important;
  }
  .d .left-banner,
  .d .right-banner {
    top: 0;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}
